# Week 7 Activity

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Read the data into python

In [2]:
data=pd.read_csv('Downloads/Week_7_Activity_data.csv')
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771
1,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
2,5.584087,188.313324,28748.68774,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
3,10.223862,248.071735,28749.71654,7.513408,393.663395,283.651634,13.789695,84.603556,2.672989
4,8.635849,203.361523,13672.09176,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425

In [3]:
data.shape

(2011, 9)

# 2. Check for null values

In [4]:
data.isna().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
dtype: int64

# 3. Examine the variables ‘Hardness’, ‘Sulfate’, and ‘Organic_carbon’ and comment on your observations.

In [5]:
Z=data[[ 'Hardness', 'Sulfate','Organic_carbon']]
Z.describe()

          Hardness      Sulfate  Organic_carbon
count  2011.000000  2011.000000     2011.000000
mean    195.968072   333.224672       14.357709
std      32.635085    41.205172        3.324959
min      73.492234   129.000000        2.200000
25%     176.744938   307.632511       12.124105
50%     197.191839   332.232177       14.322019
75%     216.441070   359.330555       16.683049
max     317.338124   481.030642       27.006707

In [6]:

corrZ=Z.corr()
corrZ

                Hardness   Sulfate  Organic_carbon
Hardness        1.000000 -0.108521        0.013224
Sulfate        -0.108521  1.000000        0.026776
Organic_carbon  0.013224  0.026776        1.000000

Insights-

1.Hardness and Sulfate has a weak negative correlation between them and therefore the hardness decrease as the sulfate content 
  increase

2.Hardness and Organic carbon has a weak positive correlation between them and therefore the hardness increase as the organic 
  carbon content increase  
    
3.Sulfate and Organic carbon has a weak positive correlation between them and therefore the sulfate content increase as the 
  organic carbon content increase

# 4. Carry out correlation analysis on the dataset and find the correlation factor between

# a. ph and Chloramines

# b. ph and Conductivity

# What do we infer from this correlation value?

In [7]:
#to find the correlation factor between ph and Chloramines
X=data[['ph','Chloramines']]
corrX=X.corr()
corrX

                   ph  Chloramines
ph           1.000000    -0.024768
Chloramines -0.024768     1.000000

In [8]:
#to find the correlation factor between ph and Conductivity
y=data[['ph','Conductivity']]
corry=y.corr()
corry

                    ph  Conductivity
ph            1.000000      0.014128
Conductivity  0.014128      1.000000

Insights-

1.ph and Chloramines has a weak negative correlation between them

2.ph and Conductivity has a weak positive correlation between them